snippet c
	console.log(${1})

snippet d
	debugger

snippet cl
	<div className="${1}">

snippet b
	eval(require("pryjs").it)

snippet r
	console.log(res)

snippet cf
	console.log(require('util').inspect(res, false, null))

snippet bf
	beforeEach(async () => {
		${1}
	})


snippet af
	afterEach(async () => {
		${1}
	})

